*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    --card-bg: rgba(255, 255, 255, 1);
    --card-boxshadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
    --card-bg-hover: #ffecd8;
    --tag-bg: #f1f8ff;
    --tag-hover-bg: #fa8738;
    --tag-color: #0366d6;
    --tag-hover-color: #fff;
    --tag-opacity: 1;
    --info-text: rgb(46 48 47 / 77%);
}

.container {
    width: 100%;
    margin: 12px auto;
    margin-bottom: 0;
}

.row {
    display: flex;
}

.col {
    flex: 0 50%;
}

.rapihin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 245px;
    text-decoration: none !important;
}

.card>div {
    flex: 1 1 auto;
    padding: 1em;
    border: 1px solid transparent;
    background-color: var(--card-bg);
    border-radius: 16px;
    box-shadow: var(--card-boxshadow);
}

.card>div:hover {
    background: var(--card-bg-hover);
    transition: background-color 100ms linear;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.card>div:hover .name {
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

.card>div:hover .tag {
    background-color: var(--tag-hover-bg);
    color: var(--tag-hover-color);
    transition: all 100ms linear;
}

.card .name {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}

.card .info {
    color: var(--info-text);
}

.tag {
    width: fit-content(20em);
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid transparent;
    border-radius: 2em;
    padding: 0 10px;
    line-height: 22px;
    color: var(--tag-color);
    white-space: nowrap;
    margin: 0 0.125em 0.333em 0;
    background-color: var(--tag-bg);
    opacity: var(--tag-opacity);
}

@media only screen and (max-width: 600px) {
    body {
        overflow-y: auto !important;
    }

    .row {
        flex-wrap: wrap;
    }

    .col {
        flex: 0 100%;
    }

    .projects {
        height: auto !important;
    }

    .card {
        width: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}